<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">


<div layout:fragment="content">

    <div class="card-header">
        <strong>자주묻는질문</strong>
    </div>
    <div class="card-body">
        <table class="table border-bottom" style="font-weight: bold">
            <thead class="text-center">
            <tr>
                <th scope="col" class="w-75">제목</th>
                <th scope="col" class="w-25">작성일</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr class="title">
                <td>제목</td>
                <td>2023-04-26</td>
            </tr>
            <tr class="content" style="display: none; text-align: left">
                <td colspan="2">이러면 내용 생겼다 사라졌다</td>
            </tr>
            <tr class="title">
                <td>제목</td>
                <td>2023-04-26</td>
            </tr>
            <tr class="content" style="display: none; text-align: left">
                <td colspan="2">근데 뭘 물어볼 사람이 있어야 자주 물어보고 말고 하지</td>
            </tr>
            </tbody>
        </table>
    </div><!--end card body-->

</div><!--end layout fragment-->


<script layout:fragment="script" th:inline="javascript">

    $(document).ready(function ()
    {
        $('.title').hover(function(){
            $(this).addClass('bg-secondary')
            $(this).css('color','white')
            $(this).css('cursor','pointer')
            $(this).css('font-size','18px')
        }, function() {
            $(this).removeClass()
            $(this).css('color','black')
            $(this).css('font-size','16px')
        });
    })

    $('.title').click(function (){
        if($(this).hasClass("active") === false) {
            $(this).toggleClass('active')
            $(this).next().css('display', 'inline')
            return;
        } else {
            $(this).toggleClass('active')
            $(this).next().css('display', 'none')
            return;
        }
    });


</script>
</html>
