<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<head>
    <title>이미지 게시판</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" th:value="${dto.bno}" readonly>

                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input type="text" class="form-control" th:value="${dto.title}" readonly>
                        </div>

                        <div class="input-group mb-3 imageContainer" >
                            <span class="input-group-text">내용</span>
                            <div class="form-control" style="height: auto">
                                <div>
                                    <img th:src="${dto.imgUrl}" class="img-fluid mx-auto d-block w-50">
                                    <span>[[${dto.content}]]</span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">작성자</span>
                            <input type="text" class="form-control" th:value="${dto.writer}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">수정시간</span>
                            <input type="text" class="form-control"
                                   th:value="${#temporals.format(dto.modDate,'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>


                        <div class="my-4">
                            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                                <th:block th:if="${dto.writer == sessionUser || sessionRole == 'ADMIN'}">
                                    <a th:href="|@{/imgboard/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                                        <button type="button" class="btn btn-secondary">수정</button>
                                    </a>
                                </th:block>
                                <a th:href="|@{/imgboard/list}?${link}|" class="text-decoration-none">
                                    <button type="button" class="btn btn-primary">목록</button>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="list-group replyList">

                            </div>
                        </div>


                    </div><!--end card body-->

                </div><!--end card-->
            </div><!--end col-->
        </div><!--end row-->
    </div>
</div>

    <script layout:fragment="script" th:incline="javascript">


    </script>
</html>